@theme {
  --color-white: #f6f6f6;
  --color-night: #0f0e0e;
  --color-branding-primary: #6ff250;
  --color-branding-primary-foreground: #141517;
  --color-branding-deep-primary: #003920;
  --color-black: #141517;
}
